@import "typography.scss";

* {
  box-sizing: border-box;
}

html {
  font-family: $base-font-stack;
  font-size: $base-font-size * 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "salt";
  -webkit-font-feature-settings: "salt";
  font-feature-settings: "salt";
  background: #260942;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #260942;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  padding: 50px 0;
  margin: 0 auto;
  text-align: center;
  color: #fff;

  svg {
    margin: 0 auto;
    max-width: 800px;
  }

  h1 {
    margin-top: 50px;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
  }

  @for $i from 1 through 11 {
    .line:nth-of-type(#{$i}) {
      opacity: 0;
      animation: fade-in 0.2s ease-in-out forwards;
      animation-delay: #{0.5 + ($i / 10)}s;
    }
  }

  .logo-path,
  polyline {
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 1.6s;
  }

  h1 {
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 2.4s;
  }

  p {
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 2.6s;
  }
}

.soundboard {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
  animation-delay: 2.8s;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 50px auto 25px;

  input {
    border: 1px solid #b73ba6;
    appearance: none;
    background: none;
    outline: none;
    color: #fff;
    padding: 25px;
    border-radius: 5px;
    margin-right: 25px;
    margin-bottom: 25px;

    &:hover {
      cursor: pointer;
      border-color: #9fff9f;
    }

    &:active {
      background: #b73ba61a;
    }

    &:focus {
      outline: none;
    }
  }
}

.download-btn {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
  animation-delay: 3s;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 30px;

  &:hover {
    background: #ffffff10;
  }
}

.stream-title {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
  animation-delay: 3.2s;
}

.twitch-streams {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  opacity: 0;
  animation: fade-in 0.5s ease-in-out forwards;
  animation-delay: 3.2s;
}

a {
  position: relative;
  text-decoration: none;
  color: #fff;
  opacity: 0.25;

  &:hover {
    color: #9fff9f;
  }

  &.live {
    opacity: 1;

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #b73ba6;
      display: block;
      left: -20px;
      transform: translateY(-50%);
      content: "";
    }

    &::after {
      opacity: 1;
      transform: translateY(-50%) scale(1);
      animation: pulse 1000ms infinite;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateY(-50%) scale(3);
  }
}
